body {
    background-color: oldlace;
    font-family: Georgia, sans-serif;
    color: black;
}
h1 {
    text-align: center;
	font-family: Arial, sans-serif;
	font-size: 80px;
    color: 	#00FFB5;
	padding: 10px;
	box-shadow: 20px 30px 60px gray
	
}
h2 {
	font-size: 40px;
	font-family: Georgia, sans-serif;
	border: 5px solid black;
	padding: 3px;
	text-align: center;
}
h3 {
	font-size: 30px;
	font-family: Georgia, sans-serif;
}
h4 {
	font-size: 35px;
	font-family: Georgia, sans-serif;
}
h5 {
	font-size: 25px;
	font-family: Georgia, sans-serif;
}
.centre {
	text-align: center;
	font-size: 22px;
}
.centre ol, li {
    list-style-position: inside;
	font-size: 32px;
}
p {
	letter-spacing: 1px;
	line-height: 1.5;
}
.text-container {
	float: right;
}
.image-gauche {
  float: left;
}
.weapons {
	display: flex;
	justify-content: space-between;
	font-size: 23px;
}

a {
  color: grey;
  transition: color 0.5s ease-in-out;
}

a:hover {
  color: blue;
}

footer {
    overflow: hidden; 
    padding: 20px;
}

footer a {
    background-color: #00FFB5; 
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 0px #00a878; 
}

footer a img {
    display: block;
    width: 80px; 
    mix-blend-mode: multiply; 
}

footer a:hover {
    background-color: #00cc91; 
    transform: translateY(-3px); 
    box-shadow: 0 6px 0px #008a62; 
}

/* --- POSITIONS --- */
.btn-next { float: right; }
.btn-back { float: left; }