body {
    background-color: oldlace;
    font-family: Georgia, sans-serif;
    color: black;
}
h1 {
    text-align: center;
	font-family: Arial, sans-serif;
	font-size: 80px;
    color: 	#00FFB5;
	padding: 10px;
	box-shadow: 20px 30px 60px gray
	
}
h2 {
	font-size: 40px;
	font-family: Georgia, sans-serif;
	border: 5px solid black;
	padding: 3px;
	text-align: center;
}
h3 {
	font-size: 30px;
	font-family: Georgia, sans-serif;
}
h4 {
	font-size: 35px;
	font-family: Georgia, sans-serif;
}
h5 {
	font-size: 25px;
	font-family: Georgia, sans-serif;
}
.centre {
	text-align: center;
	font-size: 22px;
}
.centre ol, li {
    list-style-position: inside;
	font-size: 32px;
}
p {
	letter-spacing: 1px;
	line-height: 1.5;
}
.text-container {
	float: right;
}
.image-gauche {
  float: left;
}
.weapons {
	display: flex;
	justify-content: space-between;
	font-size: 23px;
}
footer {
    text-align: center;
    background-color: #E0FFFF;
    padding: 10px;
	box-shadow: 2px 2px 4px gray
}
a {
  color: grey;
  transition: color 0.5s ease-in-out;
}

a:hover {
  color: blue;
}